{% extends "messagebase.html" %}
{% block body %}
<h3>这是留言板</h3>
<table class="table table-bordered  table-responsive" >
{% for items in form%}
<tr class="warning" >
    <td width = "15%">用户:{{items[0]}} 时间:{{items[1]}}</td>
    <td width = "85%">邮箱:{{items[3]}} QQ:{{items[4]}}</td>
</tr>
<tr class="success">
    <td><img src="{{items[5]}}" width="30" length = "30" alt="头像"></td>
    <td style="word-wrap:break-word" align="left" bgcolor="#B2DFEE" >{{items[2]}}</td>
</tr>

<tr class="active">
	<td><a href="/commit?ms={{items[6]}}"><button type="sublimt" class="btn btn-default">评论</button></a></td>
	<td>
		<ul>
	{% for items1 in form1 %}
	{% if items1[3] == items[6]%}
	<li style="word-wrap:break-word,list-style-type: none">{{items1[0]}},{{items1[1]}}:{{items1[2]}}</li>
	{% endif %}
	{% endfor %}
		</ul>
	</td>
</tr>
{% endfor %}
</table>
{% endblock %}
