{% extends "logoutbase.html" %}
{% block body %}
<!-- <h2>欢迎来到管理员后台</h2>
 -->
 	
 {% with messages = get_flashed_messages(with_categories=false, category_filter=["message","error"]) %}
  {% if messages %}
    <ul class="flash" style="list-style: none;">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<img src="{{url_for('static' ,filename =  'images/admin.jpg')}}" width = "50" height="50"><br>
<a href="/deleteus"><button type="sublimt" class="btn btn-default">删除用户</button></a><br>
<a href = '/cgm'><button type="sublimt" class="btn btn-default">删除留言</button></a><br>
<a href = '/audit'><button type="sublimt" class="btn btn-default">审核留言</button></a>
{% endblock%}