<!DOCTYPE html>
<head>
<title>Hello life</title>
<script type="text/javascript">
	function time(){
		var today = new Date()
		var hh = today.getHours();
		var mm = today.getMinutes();
		var ss = today.getSeconds();
		document.getElementById("clock").innerHTML="<h2>时间:"+hh+":"+mm+":"+ss+"<h2>";
		var myTime=setTimeout("time()",1000);
	}
</script>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<table>
<td><a href = "logout"><button  type="sublimt" class="btn btn-default" >退出登陆</button></a></td>
<td id="clock"></td>
</table>
<hr>
<div>
	{% block body %}
    {% endblock %}
</div>