<!DOCTYPE html>
<head>
<title>留言板</title>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >
{% if flag %}
<a href = "logout"><button  type="sublimt" class="btn btn-default" >退出登陆</button></a>
<hr>

{% endif %}
<div>
	{% block body %}
    {% endblock %}
</div>
<hr>
{% if flag %}
<table class="table table-bordered  table-responsive">
<form action="/add" method="POST">
    留言：<textarea name="word" ></textarea>
    <br>
    <button type = "submit" class="btn btn-default">提交</button>
</form>
</table>
<a href ="/backuser"><button type="sublimt" class="btn btn-default">返回用户信息界面</button></a>
{% else %}
<p ><font size="5" color="red" face="Times">登陆即发布留言</font></p>
<a href="/home"><button type="sublimt" class="btn btn-default">登陆</button></a>
{% endif %}
</body>
