<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>

{% from "_field.html" import render_field %}
<form method="POST" action="{{ url_for('sign') }}">
  {{ form.hidden_tag() }}
  <table>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.email) }}
    {{ render_field(form.qq) }}
    {{ render_field(form.location) }}
    {{ render_field(form.img) }}
    {{ render_field(form.accept_terms) }}
  </table>
  {{ form.submit }}
</form>
{% if flag %}
<p>用户名已被占用</p><br>
<p>注册失败,请重新注册</p>
{% else %}
<p></p>
{% endif %}
</body>
</html>
